<form method="post" action="/guardarPost">
	<div>
	     <label for="nombres" class="rem">Nombres:</label>
    </div>
    <div>
    <input type="text" name="Nombre" size ="10">
    <br>
    <br>
	    <label for="post" class="rem">Entrada:</label>
	    
    </div>
    <div>
    <input type="text" post="Entrada" size ="10">


    <br>
    <br>

    <div>
    <label for="apellido" class="rem">Apellido:</label>
    </div>
    <div>
    <input type="text" post="Entrada" size ="10">
    <br>
    <br>
    </div>
    
    <br>
    <input type="submit" name="envio" value="Registrar Post">


     </div> 
</form>
