<!DOCTYPE html>
<html>
  <head>
    <title><%= mensaje %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body bgcolor="YELLOW">
   <marquee> <h1><%= mensaje %></h1></marquee> 
    <p>Welcome to <%= mensaje %></p>
  </body>
</html>
